/* CSS Document */
.tentes { position:absolute;
		width: 80%;
		#border:2px solid red;
		left:10%;
		margin-top:2%;
}
.tente { 
		position:relative;
		#border:2px solid green;
		margin-top:5%;
		display:inline-block;
		width:70%;
				background-color:#fff;
				box-shadow: 0 4px 8px 0 black, 6px 6px 20px  black;
}
.tente1 { 
		position:relative;
		#border:2px solid green;
		margin-top:5%;
		display:inline-block;
		width:70%;
		right:0%;
		margin-left:30%;
		background-color:#fff;
				box-shadow: 0 4px 8px 0 black, 6px 6px 20px   black;
}
.container {
  position: relative;
  width: 40%;
  
  float:left;
  #border:2px solid red;

}

.texte1{
				position:relative;
				width:50%;
		#		border:2px solid black;
				 float:right;
				margin-right:5%;
				margin-top:5%;
				}
.containere {
  position: relative;
  width: 40%;
  height: 30%;
  float:right;
  #border:2px solid purple;
}
.texte2{
				position:relative;
				width:50%;
	#			border:2px solid yellow;
				float:left;
				right:0%;
				margin-left:5%;
				margin-top:5%;
				}
.image {
  display: block;
  width: 100%;
  height:300px;
}
.fb {
position:relative;
  width: 5%;
  height:30px;
  margin-bottom:5%;
  float:left;
}
.instagram{
position:relative;
  width: 5%;
  height:30px;
  margin-bottom:5%;
  float:left;
  right:5%;
}
.p2{
position:relative;
}
.titre1{
text-align: center;
}
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #ff063d;
}

.container:hover .overlay {
  opacity: 1;
}
.containere:hover .overlay {
  opacity: 1;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
.coordonnées{
    position:absolute;
    top:220%;
    display:float;
    width:100%;
    background:#ff063d;
    color:black;
}
.Horaires_d’ouverture{
    position:relative;
    float:left;
    padding:30px 30px;
}
.Contact{
    position:relative;
    float:left;
    left:0;
    padding:30px 30px;
}
.Contact a{
    border:2px solid:#fff;
    background-color:black;
    color: #ff063d;
    padding: 5px 7px;
    border-radius: 20px;
}
.map{
    position:relative;
    float:right;

}
@media (max-width: 575px) {
    .tente{
        display: grid;
        width:100%;
    }
    .container {
        width: 100%;
    }
    .texte1{
        width: 80%;
        margin: 10%;
        text-align: justify;
    }
    .tente1{
        display: grid;
        width:100%;
        margin-left: 0;
    }
    .containere {
        width: 100%;
        grid-row: 1;
    }
    .texte2{
        width: 80%;
        margin: 10%;
        text-align: justify;
    }
    .tentes{
        top: 30%;
    }
    .coordonnées{
        top: 250%;
    }
}
.navbar {
    background-color:rgba(255,255,255,0.00);;
	
	z-index: 1000
}
.navbar .navbar-brand {
  color: #ffffff;
}
.navbar .navbar-brand:hover,
.navbar .navbar-brand:focus {
  color: #ecdbff;
}
.navbar .navbar-text {
  color: #ffffff;
}
.navbar .navbar-text a {
  color: #ecdbff;
}
.navbar .navbar-text a:hover,
.navbar .navbar-text a:focus {
  color: #ecdbff; 
}
.navbar .navbar-nav .nav-link {
  color: #ffffff;
  border-radius: .25rem;
  margin: 0 0.25em;
}
.navbar .navbar-nav .nav-link:not(.disabled):hover,
.navbar .navbar-nav .nav-link:not(.disabled):focus {
  color: #ecdbff;
}
.navbar .navbar-nav .nav-item.active .nav-link,
.navbar .navbar-nav .nav-item.active .nav-link:hover,
.navbar .navbar-nav .nav-item.active .nav-link:focus,
.navbar .navbar-nav .nav-item.show .nav-link,
.navbar .navbar-nav .nav-item.show .nav-link:hover,
.navbar .navbar-nav .nav-item.show .nav-link:focus {
  color: #ecdbff;
  background-color: #ff063d;
}
.navbar .navbar-toggle {
  border-color: #ff063d;
}
.navbar .navbar-toggle:hover,
.navbar .navbar-toggle:focus {
  background-color: #ff063d;
}
.navbar .navbar-toggle .navbar-toggler-icon {
  color: #ffffff;
}
.navbar .navbar-collapse,
.navbar .navbar-form {
  border-color: #ffffff;
}
.navbar .navbar-link {
  color: #ffffff;
}
.navbar .navbar-link:hover {
  color: #ecdbff;
}

@media (max-width: 575px) {
  .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #ffffff;
  }
  .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item:hover,
  .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #ecdbff;
  }
  .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #ecdbff;
    background-color: #ff063d;
  }
    .navbar {
        background-color:#ff063d;
    }
}

@media (max-width: 767px) {
  .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #ffffff;
  }
  .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item:hover,
  .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #ecdbff;
  }
  .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #ecdbff;
    background-color: #ff063d;
  }
}

@media (max-width: 991px) {
  .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #ffffff;
  }
  .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item:hover,
  .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #ecdbff;
  }
  .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #ecdbff;
    background-color: #ff063d;
  }
}

@media (max-width: 1199px) {
  .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #ffffff;
  }
  .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item:hover,
  .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #ecdbff;
  }
  .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #ecdbff;
    background-color: #ff063d;
  }
}

.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item {
  color: #ffffff;
}
.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item:hover,
.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item:focus {
  color: #ecdbff;
}
.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item.active {
  color: #ecdbff;
  background-color: #ff063d;
}



html, 
body, 
.carousel, 
.carousel-inner, 
.carousel-inner .item {
    height: 100%;
}



/* Changes position of caption */
.carousel-caption {
    top: 30%;
    bottom: auto;
}
.heading{font-size: 60px;text-shadow: 2px 2px #ff063d;}
.sub-heading{font-size: 30px; text-shadow: 2px 2px #ff063d;}
