/* CSS Document */


.navbar {
  background-color:rgba(255,255,255,0.00);
	
	z-index: 1000
}
.navbar .navbar-brand {
  color: #ffffff;
}
.navbar .navbar-brand:hover,
.navbar .navbar-brand:focus {
  color: #ecdbff;
}
.navbar .navbar-text {
  color: #ffffff;
}
.navbar .navbar-text a {
  color: #ecdbff;
}
.navbar .navbar-text a:hover,
.navbar .navbar-text a:focus {
  color: #ecdbff; 
}
.navbar .navbar-nav .nav-link {
  color: #ffffff;
  border-radius: .25rem;
  margin: 0 0.25em;
}
.navbar .navbar-nav .nav-link:not(.disabled):hover,
.navbar .navbar-nav .nav-link:not(.disabled):focus {
  color: #ecdbff;
}
.navbar .navbar-nav .nav-item.active .nav-link,
.navbar .navbar-nav .nav-item.active .nav-link:hover,
.navbar .navbar-nav .nav-item.active .nav-link:focus,
.navbar .navbar-nav .nav-item.show .nav-link,
.navbar .navbar-nav .nav-item.show .nav-link:hover,
.navbar .navbar-nav .nav-item.show .nav-link:focus {
  color: #ecdbff;
  background-color: #ff063d;
}
.navbar .navbar-toggle {
  border-color: #ff063d;
}
.navbar .navbar-toggle:hover,
.navbar .navbar-toggle:focus {
  background-color: #ff063d;
}
.navbar .navbar-toggle .navbar-toggler-icon {
  color: #ffffff;
}
.navbar .navbar-collapse,
.navbar .navbar-form {
  border-color: #ffffff;
}
.navbar .navbar-link {
  color: #ffffff;
}
.navbar .navbar-link:hover {
  color: #ecdbff;
}


.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item {
  color: #ffffff;
}
.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item:hover,
.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item:focus {
  color: #ecdbff;
}
.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item.active {
  color: #ecdbff;
  background-color: #ff063d;
}
.corps{
				position:absolute;
				display:flex;
				top:90%;
				color:black;
				width:60%;
				height:auto;
				font-size:16px;
				font-family: 'Poppins', sans-serif;
				text-align:center;
				margin-left:20%;
				z-index:99;
				background-color:#fff;
				box-shadow: 0 4px 8px 0 black, 0 6px 20px 0 black;
				}
.texte{
				position:relative;
				width:60%;
				margin-top:6%;
				}
			.p1{
				position:relative;
				text-align:justify;	
				margin:5%;
				padding:2%;
				}
.image-texte{
				position:relative;
				float:right;
				overflow:hidden;
				width:40%;
				
				}
#image1{
				position:relative;
				float:left;
				width:150%;
				height:100%;
			}
		
      .services{
				position:absolute;
				top:160%;
				width:90%;
				left:7%;
				}
			.service{
				position:relative;
				display:flex;
				}
			.service a{
				color:#ff063d;
				}
			.service a:hover{
				color:black;
				}
			.icon{
				position:relative;
				margin-top:4%;
				font-size:40px;
				color:#ff063d;
				border-radius:100%;

				width:20%;
				padding:20px 0;
				left: 40%;
				}
			.location{
				position:relative;
				float:right;
				width:50%;
				text-align:center;
				margin:20px;
				}

.Accessoires{
	position:relative;
	float:right;
	width:50%;
	text-align:center;
	margin:20px;
}
			.PAELLAS{
				position:relative;
				float:right;
				width:50%;

				text-align:center;
				margin:20px;
				}
			.coordonnées{
				position:absolute;
				top:230%;
				display:float;
				width:100%;
				background:#ff063d;
				color:black;
				}
			.Horaires_d’ouverture{
				position:relative;
				float:left;
				padding:30px 30px;
				}
			.Contact{
				position:relative;
				float:left;
				left:0;
				padding:30px 30px;
				}
			.Contact a{
				border:2px  solid #fff;
				background-color:black;
				color: #ff063d;
				padding: 5px 7px;
				border-radius: 20px;
				}
			.map{
				position:relative;
				float:right;

				}

html, 
body, 
.carousel, 
.carousel-inner, 
.carousel-inner .item {
    height: 100%;
}

@media only screen and (max-width: 1199px) {
  .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #ffffff;
  }
  .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item:hover,
  .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #ecdbff;
  }
  .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #ecdbff;
    background-color: #ff063d;
  }
.corps{
				width:50%;
				margin-left:25%;
				top:65%;
				}
  .texte{
				width:100%;
				}

.services{
				
				top:165%;
				margin-left:17%;
				
				width:50%;
				}
.service{
				display:block;
				}
.location{
				
				float:none;
				margin:0px;
				width:80%;
				margin-left:10%
				}
.Accessoires{

	float:none;
	margin:0px;
	width:80%;
	margin-left:10%
}
			.PAELLAS{
				
				float:none;
				width:80%;
				margin-left:10%
				}

  .coordonnées{
				top:300%;
				}
}
@media only screen and (max-width: 991px) {
  .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #ffffff;
  }
  .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item:hover,
  .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #ecdbff;
  }
  .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #ecdbff;
    background-color: #ff063d;
  }
  .corps{
				width:70%;
				margin-left:15%;
				top:55%;
				}
 
.services{
				
				top:125%;
				
				}
  .coordonnées{
				top:270%;
				}
}
@media only screen and (max-width: 767px) {
  .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #ffffff;
  }
  .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item:hover,
  .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #ecdbff;
  }
  .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #ecdbff;
    background-color: #ff063d;
  }
  .corps{
				width:70%;
				margin-left:15%;
				top:35%;
				}
 
.services{
				
				top:145%;
				
				}
  .coordonnées{
				top:300%;
				}
}
@media  screen and (max-width: 575px) {
  .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #ffffff;
  }
  .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item:hover,
  .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #ecdbff;
  }
  .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #ecdbff;
    background-color: #ff063d;
  }
	.navbar {
		background-color:#ff063d;
	}
  .corps{
	  			display: grid;
				width:80%;
				margin-left:10%;
				top:25%;

				}
	.image-texte{
		width: 100%;
	}
	.titre1{
		font-size: 25px;
		color: #ff063d;
	}
.services{
				
				top:180%;
			width: 80%;
	margin-left: 2%;
				}

  .coordonnées{
				top:430%;
				}
	.paragraphe{
		text-align: justify;
	}

}






/* Changes position of caption */
.carousel-caption {
    top: 30%;
    bottom: auto;
}
.heading{font-size: 60px;text-shadow: 2px 2px #ff063d;}
.sub-heading{font-size: 30px; text-shadow: 2px 2px #ff063d;}
